# Global snippets

# (c) holds no legal value ;)
snippet c)
	`&enc[:2] == "utf" ? "©" : "(c)"` Copyright `strftime("%Y")` ${1:CradlePoint Inc.}. All Rights Reserved.${2}
snippet date
	`strftime("%Y-%m-%d")`
snippet (
	(${1})${2}
snippet [
	[${1}]${2}
snippet "
	"${1}"${2}
snippet '
	'${1}'${2}
snippet {
	{
		${1}
	}
