snippet wh
	#while ${1:condition}
		${2:# code...}
	#end while
snippet for
	#for ${1:needle} in ${2:haystack}
		${3:print $1 # code...}
	#end for
# New Function
snippet def
	#def ${1:fname}(${2:arg})
		${3:pass}
	#end def ## $1
snippet if 
	#if ${1}
		${2}
	#end if
snippet else 
	#else
		${1}
snippet elif
	#else if ${1}
		${2}
snippet set
	#set ${1}
snippet end 
	#end ${1}
