snippet fun "function() "
function ${1}()
{
	$0
} #$1
endsnippet

snippet go "getopts "
while getopts '${1:o}' ${2:opts} 
do 
    case $$2 in
    $1)
        ${4:#staments};;
    esac
done
endsnippet

snippet fori
for ${1:needle} in ${2:haystack} ; do
    ${3:#statements}
done
endsnippet

snippet tdir "THIS_DIR"
THIS_DIR="$( cd "$( dirname "${BASH_SOURCE[0]}" )" && pwd )"
endsnippet
