snippet dn "Distinguished Name" !b
dn: ${0}
endsnippet

snippet dc "Domain Component" !i
dc=${1}${2:,}${0}
endsnippet

snippet cn "Component Name" !i
cn=${1}${2:,}${0}
endsnippet

snippet ol "objectclass" !b
objectclass: ${0}
endsnippet

snippet o "Organization" !b
o: ${0}
endsnippet

snippet ou "Organizational Unit" !i
ou: ${0}
endsnippet
